# ARQUIVOS DE CHAVE SSH PRIVADA
delta1
deltadb

# ARQUIVO DE INVENTÁRIO 
hosts

# ARQUIVOS DE CHAVE PÚBLICA 
delta1.pub
deltadb.pub

# VARIÁVEIS DE GRUPO COM SENHAS 
group_vars/all.yml
group_vars/mysql.yml
group_vars/wordpress.yml
